body{
	background-color: silver;
	
}
header{
	text-align: center;
}
img {
  margin: 10px;
}

.main {
  background-color:#6e5f5f21;
  max-width: 960px;
  margin: auto;
  padding: 30px 50px 10px ;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  img {
    margin: 10px;
  }
  .main {
    padding: 30px 30px 10px 30px;
    border-radius: 0;
  }
}


